html {
    font-size: 62.5%;
}

body {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 18rem;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

header h2, a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

h1 {
    font-size: 5.0rem;
    margin-bottom: 1.5rem;
}
p {
    font-size: 2.2rem;
    font-weight: 450;
    margin: -5px;
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    justify-content: space-between;
    align-content: center;
    font-size: 1.8rem;
    margin: 15px;
    color: black;
    background-color: rgb(227, 227, 228);
    padding: 2.0rem 1.0rem;
    width: 20.0rem;
    transition: 350ms ease-in-out;
    border: 1px solid rgba(63, 63, 63, 0.308);
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.2);
    background-color: rgb(187, 0, 72);
}

.button img {
    width: 2.0rem;
    height: 2.0rem;
    align-self: center;
}

@media (max-width: 610px) {
    html {
        font-size: 50%;
    }

    body {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

@media (max-width: 490px) {
    html {
        font-size: 30%;
    }
}